body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}


.user-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 105%;
    margin-top: -3%;
}

nav {
    position: absolute;
    top: 15%;
    left: 48.7%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 200, 200);
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    padding: 5px;
    width: 79.4%;
    z-index: 1;

}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    margin: 0 200px;
}

nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: rgb(190, 136, 154);
    color: white;
    border-radius: 5px;
    transition: all .4s;
}



.logo {
    position: absolute;
    top: -60px;
    left: -230px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


.search {
    position: absolute;
    background-color: rgb(223, 208, 208);
    width: 510px;
    height: 40px;
    left: 500px;
    border-radius: 50px;
    top: 40px;
}

form.example input[type=text] {
    position: absolute;
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(163, 131, 131);
    left: 0.1%;
    width: 96%;
    background: rgb(223, 208, 208);
    border-radius: 50px;
}

form.example button {
    float: left;
    width: 200%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}



.account {
    position: relative;
    top: 20px;
}

.profile {
    position: absolute;
    top: 0;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu {
    position: absolute;
    width: 260px;
    background-color: rgb(211, 164, 164);
   top: 100px;
   right: 15px;
   border-radius: 20px;

   visibility: hidden;
   opacity: 0;
   transition: 0.5s;
   z-index: 2;
}

.active{
    visibility: visible;
    opacity: 1;
    top: 75px;
}

.menu::before{
    content: "";
    background-color: rgb(219, 200, 200);
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: 35px;
    rotate: 45deg;
}



.menu ul{
    margin-bottom: 20px;

}
.menu ul li{
    padding: 15px 20px;
    border-top: 1px solid #33333310;
    background: rgb(190, 136, 154d,);
    transition: 0.5s;
}

.menu ul li:hover{
    background: rgb(190, 136, 154);
}

.menu ul li i{
    font-size: 1.3rem;
    color: #b4b4b4;
    transition: 0.5s;
}
.menu ul li:hover i{
    color: #111;
}
.menu ul li a{
    font-size: 1.3rem;
    color: #292929;
    margin-left: 20px;
}
.sub-menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}        
.sub-menu img{
    width: 30px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
}